* {
  background-color: rgb(34, 34, 34);
}

.home {
  --borderWidth: 3px;
  background: #1d1f2000;
  position: relative;
  border-radius: var(--borderWidth);
  top: 0px;
  margin: 10px;
  margin-top: 10px;
  z-index: 1;
  height: 500px;

  h3 {
    z-index: 4;
    position: relative;
    left: 15%;
    top: 20px;
    width: 20%;
    background: rgba(255, 0, 0, 0) !important;
  }
  .h3 {
    background: red !important;
  }
}

.home:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(+50 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  max-width: 80%;
  margin: 5px;
  width: 80%;
  background: linear-gradient(
    140deg,
    #3b393800,
    #3c3a3a00,
    #3c3a3a00,
    #3c3a3a00,
    #3c3a3a00,
    #66014fbe,
    #95249b,
    #66014fbe,
    #716d6d14,
    #5a5f5e00,
    #5a5f5e00,
    #5a5f5e00,
    #5b5b5b00
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -2;
  border: 1px solid rgba(0, 0, 0, 0.332);
  animation: animatedgradient 12s ease alternate infinite;
  background-size: 400% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bannerArt {
  .left {
    background-color: white;
    .block1 {
      height: 130px;
      width: 130px;
      background: rgba(123, 11, 138, 0.368) !important;
      z-index: 2;
      position: absolute;
      bottom: -1%;
      left: 54.2%;
    }
  }

  .middle {
      .block2 {
          height: 250px;
          width: 250px;
          background: rgba(255, 255, 255, 0.074);
          z-index: 2;
          position: absolute;
          left: 61.5%;
          bottom: 25%;
      }
  }

  .right {
      .block3 {
        height: 120px;
        width: 120px;
        background: rgba(155, 25, 25, 0.351);
        z-index: 2;
        position: absolute;
        left:75.6%;
       
        bottom: 75%;
      }
  }
}
