.categories {
    display: flex;
    position: relative;
    left: 9%;
    
    
    img {
        max-height: 100px;
    }
}

.category__card {
    background: rgb(47, 46, 46) !important;
    padding: 20px;
    margin: 20px;
    min-width: 200px;
    max-width: 200px;
    h5 {
        margin-top: 20px;
        background: transparent;
    }
    img {
        max-width: 50px !important;
        min-width: 100px !important;
        object-fit: cover;
    }
}
